
.td {
    font-family: 'slab serif font';
}
.container {
    width: 1100px;
    margin: 0px auto;
}
html {
    font-family: 'slab serif font';
    color: #000000;
    font-size: medium;
}

body {
    background-color: #85501d;
    width: 800px;
    padding: 20px;
    text-align: center;
    margin: auto;
    border-style: 1px solid black;
}

.title {
    background-color: #688183;
    color: black;
    text-align: center;
    height: 100px;
    width: 100%;
}

h1 {
    color: rgb(0, 0, 0);
}

#boton {
    background-color: #ccc;
    color: #fff;
    width: 100px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    }

p {
     width: 600px;
     margin: 10px auto;
     padding: 5px;
     font: normal 13px arial, helvetica, sans-serif;
 }

div {
    margin: 15px 10px 15px 0px;
}

nav ul li{
    list-style: none;
    margin: 10px;
    display: inline-block;
}
nav ul{
    text-align: center;
}
.conborde{
    border-collapse:collapse;
    border:1px solid #000000;
}
        
.conborde td{
 border:1px solid #000000;
}

