.td {
    font-family: 'slab serif font';
}

html {
    font-family: 'slab serif font';
    color: black;
    font-size: medium;
}

body {
    background-color: #85501d;
    width: 800px;
    padding: 20px;
    text-align: center;
    margin: auto;
    
}

.title {
    background-color: #688183;
    color: black;
    text-align: center;
    height: 100px;
    width: 100%;
}

h1 {
    background-color: #688183;
    color: white;
}

#boton {
    background-color: #ccc;
    color: #fff;
    width: 100px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    }

p {
    font-family: 'slab serif font';
    font-size: 14px;
    color: #ccc;
}

div {
    margin: 15px 10px 15px 0px;
}

table.form td:first-child label{
    width: 100%;
    text-align: right;
}

table.form input{
    width: 100%;
}



