.td {
    border: 1px solid #8888;
}

body {
    background-color: #9f6f3b;
    height: 100px;
    width: 100%;
    text-align: center;
}

.title {
    background-color: black;
    color: white;
    text-align: center;
    height: 100px;
    width: 100%;
}

h1 {
    background-color: #8d5d15d2;
}

.container {}